src/n8n-templates/human-handover.json
{
  "name": "Template Human Handover",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-human-handover",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-waha",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst headers = $node['Webhook WAHA']?.json?.headers || {};\nconst payload = body.payload || body;\nreturn [{ json: {\n  session: body.session || '{{SESSION_NAME}}',\n  chatId: payload.from,\n  senderNumber: payload.from?.split('@')[0],\n  messageText: payload.body || '',\n  fromMe: payload.fromMe || false,\n  isGroup: payload.isGroup || false,\n  webhookSecret: headers['x-webhook-secret'] || ''\n}}];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.fromMe}}",
              "value2": false
            },
            {
              "value1": "={{$json.isGroup}}",
              "value2": false
            }
          ],
          "string": [
            {
              "value1": "={{$json.messageText}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter",
      "name": "Filter Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.messageText.toLowerCase()}}",
              "operation": "contains",
              "value2": "admin"
            },
            {
              "value1": "={{$json.messageText.toLowerCase()}}",
              "operation": "contains",
              "value2": "cs"
            },
            {
              "value1": "={{$json.messageText.toLowerCase()}}",
              "operation": "contains",
              "value2": "komplain"
            },
            {
              "value1": "={{$json.messageText.toLowerCase()}}",
              "operation": "contains",
              "value2": "manusia"
            }
          ]
        },
        "combineConditions": "ANY"
      },
      "id": "handover-filter",
      "name": "Check Handover Keywords",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.flaz.id/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{FLAZ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5', temperature: 0.3, max_tokens: 450, messages: [{ role: 'system', content: `Anda adalah customer service WhatsApp untuk UMKM Indonesia bernama {{BUSINESS_NAME}}.\\n\\nGaya bicara:\\n- Ramah\\n- Sopan\\n- Natural\\n- Boleh memakai emoji secukupnya\\n\\nTugas utama:\\n- Menjawab pertanyaan customer secara singkat, jelas, dan membantu\\n- Jangan mengarang info di luar konteks bisnis\\n- Jika tidak tahu, arahkan ke admin manusia.` }, { role: 'user', content: $json.messageText }] }) }}"
      },
      "id": "flaz-ai",
      "name": "Flaz Cloud AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        450
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'{{WAHA_BASE_URL}}'.replace(/\\/$/, '') + '/api/sendText'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{WAHA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ session: $('Normalize Payload').first().json.session || '{{SESSION_NAME}}', chatId: '{{ADMIN_WHATSAPP_NUMBER}}@c.us', text: `🚨 ADA PELANGGAN BUTUH ADMIN!\\nNomor: +${$('Normalize Payload').first().json.senderNumber}\\nPesan: ${$('Normalize Payload').first().json.messageText}` }) }}"
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'{{WAHA_BASE_URL}}'.replace(/\\/$/, '') + '/api/sendText'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{WAHA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ session: $('Normalize Payload').first().json.session || '{{SESSION_NAME}}', chatId: $('Normalize Payload').first().json.chatId, text: 'Baik kak, mohon ditunggu sebentar ya. Saya akan segera menyambungkan kakak dengan tim admin kami.' }) }}"
      },
      "id": "handover-reply",
      "name": "Handover Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'{{WAHA_BASE_URL}}'.replace(/\\/$/, '') + '/api/sendText'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{WAHA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ session: $('Normalize Payload').first().json.session || '{{SESSION_NAME}}', chatId: $('Normalize Payload').first().json.chatId, text: $json.choices?.[0]?.message?.content || 'Maaf kak, sistem sedang sibuk.' }) }}"
      },
      "id": "ai-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        450
      ]
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Filter Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message": {
      "main": [
        [
          {
            "node": "Check Handover Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Handover Keywords": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flaz Cloud AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin": {
      "main": [
        [
          {
            "node": "Handover Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flaz Cloud AI": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}