src/n8n-templates/lead-capture.json
{
  "name": "Template Lead Capture WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-lead-capture",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-waha",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst headers = $node['Webhook WAHA']?.json?.headers || {};\nconst payload = body.payload || body;\nreturn [{ json: {\n  session: body.session || '{{SESSION_NAME}}',\n  chatId: payload.from,\n  senderNumber: payload.from?.split('@')[0],\n  messageText: payload.body || '',\n  fromMe: payload.fromMe || false,\n  isGroup: payload.isGroup || false,\n  webhookSecret: headers['x-webhook-secret'] || ''\n}}];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.fromMe}}",
              "value2": false
            },
            {
              "value1": "={{$json.isGroup}}",
              "value2": false
            }
          ],
          "string": [
            {
              "value1": "={{$json.messageText}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter",
      "name": "Filter Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai.flaz.id/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{FLAZ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, max_tokens: 450, messages: [{ role: 'system', content: `Anda adalah customer service WhatsApp untuk UMKM Indonesia bernama {{BUSINESS_NAME}}.\\n\\nGaya bicara:\\n- Ramah\\n- Sopan\\n- Natural\\n- Boleh memakai emoji secukupnya\\n\\nTugas utama:\\n- Menjawab pertanyaan customer secara singkat, jelas, dan membantu\\n- Jangan mengarang info di luar konteks bisnis\\n- Jika tidak tahu, arahkan ke admin manusia.\\n\\nJika customer menyebutkan nama, nomor telepon, alamat, atau produk yang diminati, kamu harus menyelipkan blok JSON rahasia di akhir pesanmu dengan format berikut:\\n```json\\n{ \"action\": \"save_lead\", \"name\": \"nama_customer\", \"interest\": \"produk_diminati\", \"phone\": \"nomor\", \"address\": \"alamat_kustomer\" }\\n```\\nBalasanmu ke customer tetap harus natural, cukup selipkan JSON tersebut paling bawah.` }, { role: 'user', content: $json.messageText }] }) }}"
      },
      "id": "flaz-ai",
      "name": "Flaz Cloud AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        280
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.choices?.[0]?.message?.content || '';\nlet reply = text;\nlet leadData = null;\nconst jsonMatch = text.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (jsonMatch) {\n  try {\n    leadData = JSON.parse(jsonMatch[1]);\n    reply = text.replace(jsonMatch[0], '').trim();\n  } catch(e) {}\n}\nreturn [{ json: { reply, hasLead: !!leadData, leadData } }];"
      },
      "id": "extract-lead",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hasLead}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-lead",
      "name": "IF Has Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'{{WEBSITE_API_BASE_URL}}'.replace(/\\/$/, '') + '/api/internal/chatbot/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-api-key",
              "value": "{{WEBSITE_INTERNAL_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ wahaSessionName: '{{SESSION_NAME}}', customerPhone: $('Normalize Payload').first().json.chatId.replace('@c.us',''), customerName: $json.leadData?.name || $('Normalize Payload').first().json.senderNumber, interest: $json.leadData?.interest || '', address: $json.leadData?.address || '', status: 'warm', notes: 'Captured from WhatsApp' }) }}"
      },
      "id": "save-lead",
      "name": "Save Lead to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'{{WAHA_BASE_URL}}'.replace(/\\/$/, '') + '/api/sendText'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "{{WAHA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ session: $('Normalize Payload').first().json.session || '{{SESSION_NAME}}', chatId: $('Normalize Payload').first().json.chatId, text: $json.reply || 'Maaf kak, sistem sibuk.' }) }}"
      },
      "id": "send-waha",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        350
      ]
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Filter Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Message": {
      "main": [
        [
          {
            "node": "Flaz Cloud AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flaz Cloud AI": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "IF Has Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Lead": {
      "main": [
        [
          {
            "node": "Save Lead to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to DB": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}